<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/error.css">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <title>FORUM</title>
</head>
<body>
    <main>
        <h1><strong>{{.Code}}</strong></h1>
        <p>{{.Message}}</p>
        <div id="home">
            <i class='bx bx-left-arrow-alt'></i><a href="/">Home</a>
        </div>
    </main>
</body>
</html>