* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1B2730;
    padding: 0;
    margin: 0;
}


.prof00 {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}


.rightprof {
    height: 100%;
}

.leftprof {
    padding: 2vh;
    position: relative;
    border-right: solid white 1px;
    display: flex;
    flex-direction: column;
    height: 96vh;
    margin: 0;
}

.options {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.options button {
    font-size: 1.6em;
    font-weight: 300;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    border: none;
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 12px;
    border-radius: 12px;
    align-items: center;
}

button.active_page {
    background-color: rgba(0, 0, 0, 0.308) !important;
    color: rgb(107, 107, 107) !important;
}

.options button i {
    margin-right: 8px;
    font-size: 0.85em;
}


.options span {
    /* font-size: 24px; */
    text-wrap: nowrap;
    font-weight: 400;
}

.logoprof a {
    text-decoration: none;
}

.bottombtn {
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    color: white;
}

.bcnprof {
    height: 15%;
}

.bottombtn .identifiants {
    padding: 16px;
}

.background {
    height: 100%;
    background-color: #87B29E;
    padding: 30px;
}

.background span {
    font-size: 2em;
}

.postprofpic{
    margin-top: -50px;
    margin-left: 50px;
    display: flex;
    width: fit-content;
    flex-direction: row;
    gap: 16px;
}

.postprof .identifiants{
    text-align: start;
    margin-top: 105px;
}
#centerside{
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin; /* Pour Firefox */
    scrollbar-color: transparent transparent; /* Pour Firefox */

    /* Masquer la barre de défilement dans les navigateurs WebKit (Chrome, Safari) */
    &::-webkit-scrollbar {
        width: 0.5em; /* Largeur de la barre de défilement */
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent; /* Couleur de la poignée de défilement */
    }
}

#centercontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    padding-bottom: 2vh;
}

#postouz {
    display: flex;
    flex-direction: column;
    width: 95%;
    background-color: #28343E;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
    gap: 10px;
}

#centerside #profileouz {
    display: grid;
    grid-template-columns: auto 93%;
}

#centerside #user {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
}

#name {
    font-size: 19.53px;
    font-weight: 500;
    color: white;
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
}

#username, #time {
    color: #62707d;
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-size: 13px;
}

#title {
        color: white;
        font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
        font-size: 15px;
        padding-left: 1%;
        font-weight: 900;
        width: 100%;
        height: max-content;
        overflow-wrap: break-word;
}
#imgcontainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
#imgcontainer img {
    max-width: 100%;
    min-width: 50%;
    width: auto;
    height: auto;
    max-height: 400px;
    border-radius: 10px;
}

#text {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding-left: 1%;
    font-size: 15px;
    width: 100%;
    height: max-content;
    overflow-wrap: break-word;
}

#categories {
    display: flex; 
    font-size: 16px;
    color: #87B29E;
    padding-left: 1%;
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
}

#nbrcomment {
    color: #62707d;
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    text-align: right;
    padding-right: 50px;
}

#info {
    width: 100%;
    display: flex;
    justify-content: center;
}

#infocontainer {
    width: 80%;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 25%); 
    justify-content: space-between;
}

#infocontainer img {
    width: 2vw;
}

#like,
#dislike {
    padding-left: 25%;
    display: grid;
    grid-template-columns: auto 65%;
    background-color: #62707d;
    border-radius: 15px;
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-size: 19px;
    height: 2.2vw;
    min-height: 20px;
    align-items: center;
    min-width: 30px;
    color: white;
}

#like img,
#dislike img,
#comment img {
    min-width: 10px;
}

#dislike img {
    position: relative;
    top: 5px;
    color: white;
}

#comment {
    padding-left: 25%;
    display: grid;
    grid-template-columns: auto 65%;
    background-color: #62707d;
    color: white;
    border-radius: 15px;
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-weight: 15px;
    font-size: 19px;
    align-items: center;
    min-width: 30px;
}

#nbrlike,
#nbrdislike,
#titlecomment {
    margin-left: 2px;
}

.ldc {
    display: flex;
    flex-direction: row;
    justify-content: start;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    width: 80%;
    background-color: #62707d;
   
}

@media screen and (max-width: 700px) {
    #like,
    #dislike {
        font-size: medium;
    }
    
}

#logouthide{
    background: #1B2730;
    border: solid #354450;
    color: white;
    font-size: 1.5vw;
    bottom: 10px;
    width: 10vw;
    height: 3vw;
    border-radius: 23px;
    cursor: pointer;
    display: none;
}

#logouthide:hover {
    background-color: #87B29E;
}

@media only screen and (max-width: 500px) {
    #profile{
        display: none;
    }
    #logouthide{
        display: block;
        margin: 4% 0% 0% 20%;
    }
    #like,
    #dislike {
        font-size: small;
    }
    #user #name{
        font-size: 14px;
        white-space: nowrap;
    }
    #user #time{
        font-size: 7px;
    }
    #user #username{
        font-size: 7px;
    }
    #pp{
        display: none;
    }
    #login-right{
        display: none;
    }
}